# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'

## => Site Settings
##############################
text_skin: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: default # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"
url: https://tech.viewv.top # the base hostname & protocol for your site e.g. https://www.someone.com
baseurl: # does not include hostname
title: viewv tech-blog
description: 形而上者谓之道 # this means to ignore newlines until "Language & timezone"

## => Language and Timezone
##############################
lang: en # the language of your site, "en" (default, English), "zh"(简体中文), "zh-Hans"(简体中文), "zh-Hant"(繁體中文)
timezone: Asia/Shanghai # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the available values

## => Author and Social
##############################
author:
  type: # "person" (default), "organization"
  name: 张学楠
  url: https://viewv.github.io/
  avatar: https://raw.githubusercontent.com/viewv/Pico/master/img/20181214201900.jpeg
  # path or url of avatar image
  bio: 上下求索
  email: zxn@zxnnet.top
  facebook: # "user_name" the last part of your profile url, e.g. https://www.facebook.com/user_name
  twitter: viewv # "user_name" the last part of your profile url, e.g. https://twitter.com/user_name
  googleplus: # "user_id"   the last part of your profile url, e.g. https://plus.google.com/u/0/user_id
  weibo: C_Monitor # "user_id"   the last part of your profile url, e.g. https://www.weibo.com/user_id/profile?...
  douban: # "user_name" the last part of your profile url, e.g. https://www.douban.com/people/user_name/
  linkedin: # "user_name" the last part of your profile url, e.g. https://www.linkedin.com/in/user_name/
  github: viewv # "user_name" the last part of your profile url, e.g. https://github.com/user_name
  npm: # "user_name" the last part of your profile url, e.g. https://www.npmjs.com/~user_name
  telegram: C_Monitor # "user_name" the last part of your profile url, e.g. https://t.me/user_name

## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: zxnnet/zxnnet.github.io
repository_tree: master

## => Paths
##############################
paths:
  # root    : # title link url, "/" (default)
  home: # home layout url, "/" (default)
  # root: https://viewv.top/
  archive: # "/archive.html" (default)
  rss: # "/feed.xml" (default)

## => Post
##############################
## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-NC-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0"

## TOC
toc:
  selectors: # "h1,h2,h3" (default)

## => Markdown Enhancements
##############################
## Mathjax
mathjax: true # false (default), true
mathjax_autoNumber: true # false (default), true

## Mermaid
mermaid: true # false (default), true

## Chart
chart: true # false (default), true

## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need

## => Sources
##############################
sources: # bootcdn (default), unpkg

## => Sharing
##############################
sharing:
  provider: false # false (default), "addtoany", "addthis"

  ## AddThis
  addthis:
    id: # AddThis pubid, e.g. ra-5xxxxxxxxxxx

## => Comments
##############################
comments:
  provider: valine # false (default), "disqus", "gitalk", "valine", "custom"

  ## Disqus
  disqus:
    shortname: # the Disqus shortname for the site

  ## Gitalk
  # please refer to https://github.com/gitalk/gitalk for more info.
  gitalk:
    clientID: # GitHub Application Client ID
    clientSecret: # GitHub Application Client Secret
    repository: # GitHub repo
    owner: # GitHub repo owner
    admin:# GitHub repo owner and collaborators, only these guys can initialize GitHub issues, IT IS A LIST.
      # - your GitHub Id

  ## Valine
  # please refer to https://valine.js.org/en/ for more info.
  valine:
    app_id: q9lWeUKCDNRPsItaFVoWPU4i-gzGzoHsz # LeanCloud App id
    app_key: 52mEVjzz3EU3tAXjR1IuBoxu # LeanCloud App key
    placeholder: # Prompt information

## => Pageview
##############################
pageview:
  provider: leancloud # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id: q9lWeUKCDNRPsItaFVoWPU4i-gzGzoHsz # LeanCloud App id
    app_key: 52mEVjzz3EU3tAXjR1IuBoxu # LeanCloud App key
    app_class: nums # LeanCloud App class

## => Analytics
##############################
analytics:
  provider: false # false (default), "google", "custom"

  ## Google Analytics
  google:
    tracking_id: # Google Analytics id for the site
    anonymize_ip: false # Anonymize IP tracking for Analytics

## => Build
##############################
markdown: kramdown
highlighter: rouge
permalink: date

exclude:
  - CHANGELOG.md
  - HOW_TO_RELEASE.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  - /docs
  - /node_modules
  - /screenshots
  - /test
  - /vendor

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      sharing: true
      license: true
      aside:
        toc: true
      show_edit_on_github: true
      pageview: true

# pwa:
#   sw_filename: sw.js
#   dest_js_directory: js
#   cache_name: pwa-cache
#   precache_recent_posts_num: 12
#   precache_glob_directory: /
#   precache_glob_patterns:
#     - "{js,css,fonts}/**/*.{js,css,woff,woff2}"
#     - /index.html
#     - /about.html
#   precache_glob_ignores:
#     - sw-register.js
#   runtime_cache:
#     - route: /^api\/getdata/
#   strategy: networkFirst
#     - route: "'/api/pic'"
#   strategy: cacheFirst

## => Plugins
##############################
plugins:
  - jekyll-pwa-plugin
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
