---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}" style="filter: grayscale(100%);">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" 
      src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d5f6991702b072c">
    </script> 
  </body>
</html>